<div>
  <mat-toolbar color="" class="mat-elevation-z5">
    <span><img src="assets/TheBigFun.png"></span>
    <span>The Big Fun</span>

    <div class="spacer"></div>
    <a *ngIf="!isLoggedIn" routerLink="/signUp" mat-button>Sign Up</a>
    <a routerLink="/aboutUs" mat-button>About Us</a>

    <ng-container *ngIf="isLoggedIn">
      <ng-container *ngIf="userType === 'ROLE_USER'">
        <a routerLink="/events" mat-button>Events</a>
        <button mat-button (click)="logout()">LogOut</button>
        <a routerLink="/userProfile" mat-button>Profile</a>
      </ng-container>

      <ng-container *ngIf="userType === 'ROLE_ORGANIZER'">
        <a routerLink="/events" mat-button>Events</a>
        <a routerLink="/eventRegister" mat-button>Register Event</a>
        <button mat-button (click)="logout()">LogOut</button>
        <a routerLink="/userProfile" mat-button>Profile</a>
      </ng-container>


    </ng-container>
  </mat-toolbar>
</div>



