<section class ="nav">
</section>

<div class="footer arriba">

  <div class="left">
    <img src="assets/logo.png">
  </div>
  <div class="rights justify-content-center">

    <div class="textos ">

      <div class="flex flex-column gap-2 container">
        <label class="title titlejust" >Username</label>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Enter your username</mat-label>
            <input matInput placeholder="Ex. IsabellaSH" [(ngModel)]="authUser.username" name="username">
          </mat-form-field>
        </form>
      </div>

      <div class="flex flex-column gap-2 container">
        <label class="title" >Password</label>
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
            <input matInput [(ngModel)]="authUser.password" name="password">
          </mat-form-field>
        </form>
      </div>



      <div class="footer2" >
        <div>
          <div class="example-label">
            <div class="example-button-row">
              <button (click)="Authentication()" class="uptButton" mat-raised-button style="width: 200px; height: 55px; border-radius: 25px;"> <a > Sign in </a> </button>
            </div>
          </div>
        </div>

        <div>
          <div class="example-label ">
            <div class="example-button-row ">
              <button  class="uptButton " mat-raised-button style="width: 200px; height: 55px;
               border-radius: 25px;"><a routerLink="/signUp">Sign up</a> </button>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>


















