.title h1 {
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 42px;
  line-height: 57px;
  color: rgba(83, 16, 92, 0.96);
  text-align: left;
}
.background {
  background: rgba(99, 99, 163, 0.35);
  border-radius: 30px;
  padding: 30px;
}
.imgContainer{
  width:400px;
  text-align:center;

}
img{
  width: 300px;
  height: 350px;

}
.button{
  background-color: transparent;
  border: 1px solid rgba(83, 16, 92, 0.96);
  border-radius: 30px;
  color:rgba(83, 16, 92, 0.96);
}

.body{
  display:flex;
  justify-content: center;

}
.inputData{
  width: 400px;
  margin-left: 5%;
  text-align: center;
}
.inputText {
  width: 400px;
  margin-bottom: 5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  border-radius: 5px;
}

.hourdate{
  display:flex;
  width:400px;
}
.calendar{
  width: 200px;
  margin-bottom:5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  display:flex;
  border-radius: 4px;
  margin-right: 5px;
}
.imagelink{
  width: 200px;
  margin-bottom:5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  display:flex;
  border-radius: 4px;
  margin-right: 5px;
}
.dropdown{

  margin-bottom:5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  border-radius: 5px;
}
.textarea{
  width: 400px;
  margin-bottom:5px;
  font-family: "Nunito", sans-serif;
  font-style: normal;

}
.maxcapacity{
  width: 400px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  border-radius: 5px;
}
@media (min-width: 768px) {
  .background {
    max-width: 1000px;
    height: 620px;
    margin: 0 auto;
    padding: 30px;
  }

}
