<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="background">
  <div class="title">
    <h1>Register event:</h1>
  </div>
  <div class="body">
    <div class="inputData">

      <mat-form-field class="inputText">
        <mat-label>Name Event</mat-label>
        <input matInput [(ngModel)]="event.name">
      </mat-form-field>
      <mat-form-field class="inputText">
        <mat-label>District</mat-label>
        <input matInput [(ngModel)]="event.district">
      </mat-form-field>

      <div class="hourdate">
        <mat-form-field class="calendar" appearance="fill">
          <mat-label>Choose a date</mat-label>
          <input matInput [(ngModel)]="event.date" [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="imagelink">
          <mat-label>Image</mat-label>
          <input matInput [(ngModel)]="event.image">
        </mat-form-field>
      </div>
      <mat-form-field class="inputText">
        <mat-label>Hour</mat-label>
        <input matInput [(ngModel)]="event.hour">
      </mat-form-field>

      <mat-form-field class="inputText">
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]="event.cost">
      </mat-form-field>
      <mat-form-field class="textarea">
        <textarea matInput placeholder="Address" [(ngModel)]="event.address" rows="2"></textarea>
      </mat-form-field>
      <mat-form-field class="maxcapacity">
        <mat-label>Max Capacity</mat-label>
        <input matInput type="text" [(ngModel)]="event.capacity">
      </mat-form-field>
      <button (click)="saveEvent()" mat-button class="button">Register event</button>


    </div>

  </div>

</div>
