<div class="footer">

  <div class="left">
    <h3>Explore</h3>
    <div class="contentt">
      <a routerLink="/faqs" mat-button>FAQs</a>
      <a mat-button>Privacy politics</a>
    </div>
  </div>

  <div class="socialmedia">
    <h3>Social Media</h3>
    <div class="contentt">
<!--      <a mat-button><mat-icon>facebook</mat-icon>Facebook</a>
      <a mat-button><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/512px-2021_Facebook_icon.svg.png">Twitter</a>
      <a mat-button><mat-icon>instagram</mat-icon>Instagram</a>-->

      <a href="https://www.facebook.com/" target="_blank" class="references">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b8/2021_Facebook_icon.svg/512px-2021_Facebook_icon.svg.png">
      </a>

      <a href="https://twitter.com/" target="_blank" class="references">
        <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-twitter-social-media-round-icon-png-image_6315985.png">
      </a>

      <a href="https://instagram.com" target="_blank">
        <img src="https://png.pngtree.com/png-vector/20221018/ourmid/pngtree-instagram-icon-png-image_6315974.png">
      </a>

    </div>

  </div>

  <div class="rights">
    <h3>
      Copyright &copy; Designed by TheCrakeletsGroup
    </h3>
  </div>

</div>




