<div class="footer">

  <div class="left">
    <img src="assets/logo.png">
  </div>


  <div class="rights">

    <mat-card class="example-card" >
      <mat-card-header >
        <mat-card-title class="example-card" >
          <p class="title1">About us</p>
        </mat-card-title>

        <mat-card-subtitle>
          <li class="subs">Mission: Our mission is to make it easy for people to find social events and buy and sell tickets. Likewise, Help hosts have a profitable event.  </li>
          <hr>
          <li class="subs">Vision: To be an application and company with national and international recognition in event advertising and in the market for ticket transactions. </li>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content  class="example-card">
        <p class="paragraphs">
          The big fun, is an events platform that allows
          your users to find the events that are close to them,
          In addition to offering them to buy tickets for the events
          that interest you most in one place. Besides that, you could
          offer its users recommendations according to
          to your event type preferences.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

</div>
