<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>


<body>
<div class="header">
  <h1>User Profile</h1>
</div>
<section class="profile-container">

  <div class="content">

    <div class="image-container">
      <img [src]="img" alt="profile-pic">
    </div>

    <div class="info">
      <div class="container">
        <h3>User: {{currentAttendee.username}}</h3>
      </div>
      <div class="container">
        <h3>Email: {{currentAttendee.email}}</h3>
      </div>


    </div>
  </div>
</section>

<!-- Resto de tu contenido HTML -->
</body>
