.profile-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.header {
  top: 0;
  left: 0;

  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
.header h1{
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 50px;
  line-height: 57px;
  color: rgba(83, 16, 92, 0.96);
}

.container {
  width: 700px;
  height: 70px;
  border: 1px solid #53105c;
  border-radius: 10px;
  text-align: justify;
  background: #ffffff;
  margin-bottom: 10px;
}

.container h3 {
  width: 630px;
  height: 60px;
  margin-top: 25px;
  margin-left: 30px;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #53105c;

}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.image-container{
  display:flex;
  justify-content: center;
  margin-bottom: 100px;
}
.image-container img{
  height: auto;
  border-radius: 600px;
  max-width: 50%;
  width:100%;
}
.info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  margin-bottom: 50px;
}
.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 70px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .title h1{
    margin-top:135px;
  }
  .image-container{

    margin-right: 0px;
    margin-top: 65px;
    display:flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
  }
  .image-container img {
    border-radius:600px;
    max-width:100%;
    width:40%;
  }
  .container {
    width: 90%;

  }
  .title h1 {
    margin-left:auto;
    margin-right:auto;
    text-align:center;
  }
}
