<link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
<div class="background">
  <div class="title">
    <h1>{{events[indice].name}}</h1>
  </div>
  <div class="body">
    <div class="imgContainer">
      <img [src]="events[indice].image" alt="user picture" aria-label="Event Image" >
    </div>
    <br>

    <div class="information">
      Date: {{events[indice].date}}
      <br>
      Location: {{events[indice].address}}
      <br>
      Price: {{events[indice].cost}}
      <br>
      Capacity: {{events[indice].capacity}}
      <br>
      <button (click)="buy()" mat-button class="button">Buy</button>
    </div>
  </div>

</div>
